:root {
    --azul:#636b85;
    --verde:#84996c;
    --azulClaro:#c4cfd9;
    --morado:#48684e;
    --morao:#6a4c93;
}
html {
    box-sizing: border-box;
    scroll-snap-type:y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}
span {
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
}
h1,h2,h3 {
    font-family: "Work Sans", sans-serif;
    text-align: center;
    color: var(--morao);
}
p {
    font-family: "Work Sans", sans-serif; 
}
.Contenedor {
    max-width: 1200px;
    margin: 0 auto;
}
.nav-background { 
    background-color: var(--morao);
}
.Navegacion_Principal {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 450px) {
    .Navegacion_Principal {
        flex-direction: row;
        justify-content: space-between;
    }
}
.Navegacion_Principal a {
    color:var(--azulClaro);
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-left: 10px;
}
.Navegacion_Principal a:hover {
    background-color: var(--morado); 
    padding: 10px;
    margin: -15px;
}

.hero {
    background-image: url(img/programming-1873854_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    position: relative;
    font-family: "Work Sans", sans-serif;
}
.Contenido-hero {
    position:absolute;
    background-color: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ubicacion {
    display: flex;
    flex-direction:row;
    color: #dfe9f3;
}
.Button {
    background-color: var(--morao);
    padding: 15px;
    border-radius: 6px;
    text-transform: uppercase;
    margin-top: 15px;
    text-decoration: none;
    outline: none;
    color: #dfe9f3;
    border:none;
    font-family: "Work Sans", sans-serif;
    cursor: pointer;
    width: 90%;
    text-align: center;
}
@media (min-width: 480px) {
    .Button {
        width: auto;
    }    
}
body {
    background-image:linear-gradient(to top, #dfe9f3 0%, #ffff);

}
.Sombra {
    -webkit-box-shadow: 16px 10px 15px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 10px 15px -6px rgba(0,0,0,0.75);
    box-shadow: 16px 10px 15px -6px rgba(0,0,0,0.75);
    padding: 90px 90px;
    border-radius: 7px;
}
.servicios , .Contenido-hero , .formulario {
    scroll-snap-align: center;
    scroll-snap-stop:always;
}
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    font-weight: bold;
}
.servicio p {
    line-height: 2;
}
.servicio .icono {
    height: 150px;
    width: 150px;
    background-color: #8068A8;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/** contacto **/
.formulario {
    background-color: var(--morado);
    width:min(600px, 100%);
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 10px;
}
.formulario fieldset {
    border:none;
}
.formulario legend{
    color: var(--azulClaro);
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}
@media (min-width:768px) {
    .inputs {
        display: grid;
        grid-template-columns:50% 50%;
        grid-template-rows:auto auto 200px;
        column-gap: 10px;
    }
    .inputs :nth-child(3) {
        grid-column: 1/3;
    }
    .inputs :nth-child(4) {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}
.campo label {
    color: #B7B1A7;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
.campo {
    margin-bottom: 10px;
    font-family: "Work Sans", sans-serif;
    color: var(--azulClaro);
}
.campo textarea {
    height: 100px;
}
.form {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 5px;
}
.enviar .Button {
    width: 100%;
}
.footer {
    text-align: center;
}
